<form class="example-form">
  <mat-form-field class="example-full-width">
    <input type="number" matInput placeholder="המספר" value="1"  [disabled]="!myTurn">
  </mat-form-field>

<button type="submit" mat-raised-button color="primary" [disabled]="!myTurn" (click)="onSubmit()">חשבתי</button>
<button mat-raised-button type="submit" color="accent" [disabled]="!isContra">קונטרה</button>
<button mat-raised-button type="submit" color="warn" [disabled]="!isRecontra">רה-קונטרה</button>
<button mat-raised-button type="submit" [disabled]="!myTurn" mat-fab type="primary">פאגאט</button>